.git
.github
.cursor
.vscode
.idea

node_modules
**/node_modules
.pnpm-store

dist
**/dist
build
**/build
.next
**/.next
out
**/out
coverage
**/coverage
.nyc_output
**/.nyc_output
.turbo
**/.turbo
.cache
**/.cache
*.tsbuildinfo
**/*.tsbuildinfo

.env
.env.*
!.env.example
!**/.env.example

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

apps/api/uploads/*
!apps/api/uploads/.gitkeep
